.topbar {
    width: 100%;
    height: 70px;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fafafa;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.topbar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.topbar__left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.topbar__logo-icon {
    font-size: 2.5rem !important;
    color: #FF6F00;
}

.topbar__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0D47A1;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}

.topbar__right {
    display: flex;
    align-items: center;
}

.topbar__icon {
    margin-right: 1rem;
    cursor: pointer;
    color: #808080;
    position: relative;
    display: flex;
    align-items: center;
}

.topbar__badge {
    position: absolute;
    top: -3px;
    right: -1.5px;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.7rem;
}
.topbar__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}
