.product {
    flex: 5.5;
    padding: 20px;
}

.product__title-containet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create__btn {
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 16px;
    background-color:teal ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.create__btn:hover {
    background-color:rgb(0, 99, 99) ;
}